#container {
    width: 400px;
    background-color: whitesmoke;
    padding:20px;
    border-radius: 2rem;
    text-align: center;
    margin:auto;
    box-shadow: 0px 5px 15px grey;
    margin-top: 2rem;
}

input{
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 8px;
    border-radius: 10px;
    border: none;
    margin-top: 3px;
    background-color: white;
    box-shadow: 0px 0px 3px grey;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list{
    margin:15px 0;
    
}

.list > li {
    background-color: wheat;
    padding: 7px 10px 7px 10px;
    margin:2px;
    display: flex;
    justify-content: space-between;
}


.btn {
    border:none;
    border-radius: 10px;
    padding: 12px;
    width: 7rem;
    background-color: wheat;
    cursor: pointer;
}